Analysis of PyCity Schools

We have been asked to analyze the PyCity School District student math and reading scores and passing percentages. We look at the results 
-Overall
-By School and identifying the top and bottom performing schools

We also examine the math and reading scoress for each school by grade level (9th through 12th grade).
We then look at various school characteristics such as budget, size of student body, and type of school.

Observations with respect to math and reading performance along these criteria are

- There are 39,170 student in the district with average math and reading scores of 78.99 and 81.88 respectively.
- The passing rate (score of 70 or higher) are 74.98% for math and 85.81% for reading. Only 65.17% of students pass both math and reading. This suggests there are a significant number of students who are good at math and bad at reading, and vice versa. There are math geeks and book worms!
- The number of students in each school varies a lot.
- The top 5 schools are all Charter schools whereas the bottom 5 are all District schools. This suggests some underlying cause to be investigated. The per student budget is similar so this would not appear to be the cause.
- The top 5 Charter schools have smaller size which should be investigated whether it explains performance.
- Scores by grade appear fairly consistent.
- School spending appears negativel correlated with scores. The schools that spend the most (more than $642 per student) have lower scores.
- Large schools with more than 2000 students have materially lower scores than small and medium size schools.
- Charter schools significantly outperform District schools. This may be due to smaller class size.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#Add math and reading Pass (True), Fail (False) flags to student data to make exercises easier
new_student_data = student_data
new_student_data['math_pass'] = new_student_data['math_score'].apply(lambda x: (x > 69))
new_student_data['reading_pass'] = new_student_data['reading_score'].apply(lambda x: (x > 69))
new_student_data['both_pass'] = new_student_data['math_pass'] & new_student_data['reading_pass']

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#calc all the requested stats using various .functions
tot_num_schools = school_data['school_name'].nunique()
tot_num_students = new_student_data['Student ID'].nunique()
tot_budget = school_data['budget'].sum()
avg_math_score = new_student_data['math_score'].sum()/tot_num_students
avg_reading_score = new_student_data['reading_score'].sum()/tot_num_students
math_passing_students = new_student_data.loc[student_data['math_score']>69]
reading_passing_students = new_student_data.loc[new_student_data['reading_score']>69]
both_passing_students = pd.merge(math_passing_students, reading_passing_students, on='Student ID')
math_passing_pct = new_student_data['math_pass'].sum()/tot_num_students
reading_passing_pct = new_student_data['reading_pass'].sum()/tot_num_students
both_passing_pct = new_student_data['both_pass'].sum()/tot_num_students

#create output df and format
district_summary_df = pd.DataFrame({"Total Schools":[tot_num_schools], "Total Students":[tot_num_students], "Total Budget":[tot_budget], "Average Math Score":[avg_math_score], "Average Reading Score":[avg_reading_score], "Passing Math":[math_passing_pct], "Passing Reading":[reading_passing_pct], "Overall Passing":[both_passing_pct]})

district_summary_df.style.hide_index().format({"Total Budget": "${:,.0f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}", "Total Schools": "{:,.0f}", "Total Students": "{:,.0f}", "Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#Group the student data by School Name. 
school_grouped = new_student_data.groupby(['school_name'])

#Since final output is by School, use school database as starting point by extracting the needed fields only
school_summary_df = school_data[['school_name', 'type', 'size', 'budget']]
school_summary_df = school_summary_df.rename(columns={'school_name': 'School Name', 'type':'School Type', 'size':'Total Students', 'budget':'Total School Budget'})

#Add a budget per student column
school_summary_df['Per Student Budget']=school_summary_df['Total School Budget']/school_summary_df['Total Students']
school_summary_df = school_summary_df.set_index('School Name')
school_summary_df = school_summary_df.sort_index(axis = 0)

#Calculate the by-school student stats from the student database which was grouped by school
school_avg_math_score = school_grouped['math_score'].sum()/school_grouped['Student ID'].nunique()
school_avg_reading_score = school_grouped['reading_score'].sum()/school_grouped['Student ID'].nunique()
school_math_passing_pct = school_grouped['math_pass'].sum()/school_grouped.size()
school_reading_passing_pct = school_grouped['reading_pass'].sum()/school_grouped.size()
school_both_passing_pct = school_grouped['both_pass'].sum()/school_grouped.size()

#Add these stats to the output database
school_summary_df['Average Math Score'] = school_avg_math_score
school_summary_df['Average Reading Score'] = school_avg_reading_score
school_summary_df['Passing Math'] = school_math_passing_pct
school_summary_df['Passing Reading'] = school_reading_passing_pct
school_summary_df['Overall Passing'] = school_both_passing_pct

school_summary_df.style.format({"Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.2f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}", "Total Students": "{:,.0f}", "Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#Basic sort of the previously created df and output. Use head() to get top 5 after sort
school_summary_df.sort_values(by=['Overall Passing'], ascending=False).head().style.format({"Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.2f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}", "Total Students": "{:,.0f}", "Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#Same as above with different sort. Use head() to get bottom 5 after sort
school_summary_df.sort_values(by=['Overall Passing'], ascending=True).head().style.format({"Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.2f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}", "Total Students": "{:,.0f}", "Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}"})

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [6]:
#DISREGARD: STARTED DOING IT THE HARD WAY UNTIL I DISCOVERED THERE'S A PANDAS PIVOT TABLE FUNCTION!! Keeping the code in case can't use pivot table.
#by_school_by_grade = pd.DataFrame(new_student_data.groupby(['grade', 'school_name'])['math_score'].mean())
#by_school_by_grade_avg_math=by_school_by_grade['math_score'].sum()/by_school_by_grade['Student ID'].count()
#grade_classes_list = new_student_data['grade'].unique()
#school_names_list = new_student_data['school_name'].unique()
#math_scores_by_grade_df=pd.DataFrame([], columns=grade_classes_list, index=school_names_list).sort_index()
#math_scores_by_grade_df = math_scores_by_grade_df.reindex(sorted(math_scores_by_grade_df.columns), axis=1)
#math_scores_by_grade_df = math_scores_by_grade_df[ ['9th'] + [ col for col in math_scores_by_grade_df.columns if col != '9th' ] ]

#Use pandas pivot table with aggfunc=np.mean on math score. 
bsbg_math_df = new_student_data.pivot_table(values='math_score', index='school_name',columns='grade', aggfunc=np.mean)
bsbg_math_df=bsbg_math_df[ ['9th'] + [ col for col in bsbg_math_df.columns if col != '9th' ] ]

bsbg_math_df.style.format("{:,.2f}")

### Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [7]:

#Use pandas pivot table with aggfunc=np.mean on reading score. 
bsbg_reading_df = new_student_data.pivot_table(values='reading_score', index='school_name',columns='grade', aggfunc=np.mean)
bsbg_reading_df=bsbg_reading_df[ ['9th'] + [ col for col in bsbg_reading_df.columns if col != '9th' ] ]

bsbg_reading_df.style.format("{:,.2f}")

### Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [43]:
#Use the ending df from the School Summary exercise as the starting point
#Look at the stats for a sense of reasonable Per Student Budget bins
school_stats = school_summary_df.describe()

#Based on 25th, 50th, and 75th percentil choose bins of cutoffs of (0, 592], (592, 628], (628, 642], (642,660]. Max is 655. 
school_bud_bins = [0, 592, 628, 642, 660]
school_bud_labels = ["<=$592", "\$592-$628", "\$628-$642", "$642<"]

#Just a check against starter code bins. I use different bins explained above.
#school_bud_bins = [0, 584, 629, 644, 675]
#school_bud_labels = ['Bud<=$584', '$584<Bud<=$629', '$629<Bud<=$644', '$644<Bud']

#Set the starting df to be used for binning same as School Summary exercise df
school_summary_binned_df = school_summary_df

#The next 5 lines are to get the avg scores and passing percentages WEIGHTED BY THE STUDENTS IN EACH SCHOOL!!!!
#THE STARTER CODE IS I BELIEVE WRONG AS IT CALCULATES THE SIMPLE AVERAGE BETWEEN SCHOOLS RATHER THAN THE STUDENT-WEIGHTED AVERAGE!!!
school_summary_binned_df['sum_math_score'] = school_summary_binned_df['Average Math Score']*school_summary_binned_df['Total Students']
school_summary_binned_df['sum_reading_score'] = school_summary_binned_df['Average Reading Score']*school_summary_binned_df['Total Students']
school_summary_binned_df['num_math_passers'] = school_summary_binned_df['Passing Math']*school_summary_binned_df['Total Students']
school_summary_binned_df['num_reading_passers'] = school_summary_binned_df['Passing Reading']*school_summary_binned_df['Total Students']
school_summary_binned_df['num_both_passers'] = school_summary_binned_df['Overall Passing']*school_summary_binned_df['Total Students']

#Add the per student budget bins to new column
school_summary_binned_df['Spending Ranges (per Student)'] = pd.cut(school_summary_binned_df['Per Student Budget'], bins = school_bud_bins, labels = school_bud_labels)

#Group the df by the budget bins
school_summary_bin_grouped = school_summary_binned_df.groupby(['Spending Ranges (per Student)'])

#Calculate the statistics within each bin using the STUDENT WEIGHTED AVERAGE!!
bud_bin_avg_math = school_summary_bin_grouped['sum_math_score'].sum()/school_summary_bin_grouped['Total Students'].sum()
bud_bin_avg_reading = school_summary_bin_grouped['sum_reading_score'].sum()/school_summary_bin_grouped['Total Students'].sum()
bud_bin_math_pct = school_summary_bin_grouped['num_math_passers'].sum()/school_summary_bin_grouped['Total Students'].sum()
bud_bin_reading_pct = school_summary_bin_grouped['num_reading_passers'].sum()/school_summary_bin_grouped['Total Students'].sum()
bud_bin_both_pct = school_summary_bin_grouped['num_both_passers'].sum()/school_summary_bin_grouped['Total Students'].sum()

#Create a final df for the required output table
bud_bin_final = pd.DataFrame(list(zip(school_bud_labels, bud_bin_avg_math, bud_bin_avg_reading, bud_bin_math_pct, bud_bin_reading_pct, bud_bin_both_pct)), columns =['Spending Ranges (per Student)', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing'])

bud_bin_final.style.hide_index().format({"Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}"})

### Scores by School Size

* Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [44]:
#Use the ending df from the School Summary exercise as the starting point
#Look at the stats for a sense of reasonable student count size bins
school_stats = school_summary_df.describe()

#Using the same bins as the starter code to check output
school_size_bins = [0, 1000, 2000, 5000]
school_size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

#Set the starting df to be used for binning same as School Summary exercise df
school_summary_binned_df = school_summary_df

#The next 5 lines are to get the avg scores and passing percentages WEIGHTED BY THE STUDENTS IN EACH SCHOOL!!!!
#THE STARTER CODE IS I BELIEVE WRONG AS IT CALCULATES THE SIMPLE AVERAGE BETWEEN SCHOOLS RATHER THAN THE STUDENT-WEIGHTED AVERAGE!!!
school_summary_binned_df['sum_math_score'] = school_summary_binned_df['Average Math Score']*school_summary_binned_df['Total Students']
school_summary_binned_df['sum_reading_score'] = school_summary_binned_df['Average Reading Score']*school_summary_binned_df['Total Students']
school_summary_binned_df['num_math_passers'] = school_summary_binned_df['Passing Math']*school_summary_binned_df['Total Students']
school_summary_binned_df['num_reading_passers'] = school_summary_binned_df['Passing Reading']*school_summary_binned_df['Total Students']
school_summary_binned_df['num_both_passers'] = school_summary_binned_df['Overall Passing']*school_summary_binned_df['Total Students']

size_binned_df = school_summary_binned_df
#Add the size bins to new column
size_binned_df['School Size'] = pd.cut(size_binned_df['Total Students'], bins = school_size_bins, labels = school_size_labels)

#Group the df by the size bins
size_bin_grouped = size_binned_df.groupby(['School Size'])

#Calculate the statistics within each bin using the STUDENT WEIGHTED AVERAGE!!
size_bin_avg_math = size_bin_grouped['sum_math_score'].sum()/size_bin_grouped['Total Students'].sum()
size_bin_avg_reading = size_bin_grouped['sum_reading_score'].sum()/size_bin_grouped['Total Students'].sum()
size_bin_math_pct = size_bin_grouped['num_math_passers'].sum()/size_bin_grouped['Total Students'].sum()
size_bin_reading_pct = size_bin_grouped['num_reading_passers'].sum()/size_bin_grouped['Total Students'].sum()
size_bin_both_pct = size_bin_grouped['num_both_passers'].sum()/size_bin_grouped['Total Students'].sum()

#Create a final df for the required output table
size_bin_final = pd.DataFrame(list(zip(school_size_labels, size_bin_avg_math, size_bin_avg_reading, size_bin_math_pct, size_bin_reading_pct, size_bin_both_pct)), columns =['School Size', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing'])

size_bin_final.style.hide_index().format({"Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}"})

### Scores by School Type

* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

In [45]:
school_type_df = school_summary_df

#The next 5 lines are to get the avg scores and passing percentages WEIGHTED BY THE STUDENTS IN EACH SCHOOL!!!!
#THE STARTER CODE IS I BELIEVE WRONG AS IT CALCULATES THE SIMPLE AVERAGE BETWEEN SCHOOLS RATHER THAN THE STUDENT-WEIGHTED AVERAGE!!!
school_type_df['sum_math_score'] = school_type_df['Average Math Score']*school_type_df['Total Students']
school_type_df['sum_reading_score'] = school_type_df['Average Reading Score']*school_type_df['Total Students']
school_type_df['num_math_passers'] = school_type_df['Passing Math']*school_type_df['Total Students']
school_type_df['num_reading_passers'] = school_type_df['Passing Reading']*school_type_df['Total Students']
school_type_df['num_both_passers'] = school_type_df['Overall Passing']*school_type_df['Total Students']

type_bin_grouped = school_type_df.groupby(['School Type'])

school_type_df = pd.DataFrame(type_bin_grouped.first())
school_type = school_type_df.index

#Calculate the statistics within each bin using the STUDENT WEIGHTED AVERAGE!!
type_bin_avg_math = type_bin_grouped['sum_math_score'].sum()/type_bin_grouped['Total Students'].sum()
type_bin_avg_reading = type_bin_grouped['sum_reading_score'].sum()/type_bin_grouped['Total Students'].sum()
type_bin_math_pct = type_bin_grouped['num_math_passers'].sum()/type_bin_grouped['Total Students'].sum()
type_bin_reading_pct = type_bin_grouped['num_reading_passers'].sum()/type_bin_grouped['Total Students'].sum()
type_bin_both_pct = type_bin_grouped['num_both_passers'].sum()/type_bin_grouped['Total Students'].sum()

#Create a final df for the required output table
type_bin_final = pd.DataFrame(list(zip(type_bin_avg_math, type_bin_avg_reading, type_bin_math_pct, type_bin_reading_pct, type_bin_both_pct)), index=school_type, columns =['Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing'])

type_bin_final.style.format({"Average Math Score": "{:,.2f}", "Average Reading Score": "{:,.2f}", "Passing Math": "{:.2%}", "Passing Reading": "{:.2%}", "Overall Passing": "{:.2%}"})